NODE_ENV=development

APP_HOST=0.0.0.0
APP_PORT=8000
APP_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

REDIS_URL=redis://localhost:6379

JWT_SECRET_KEY=jwt_secret_key
JWT_EXPIRY_TIME=900 #15 minutes
JWT_IGNORE_EXPIRATION=false
JWT_REFRESH_SECRET_KEY=jwt_refresh_secret_key
JWT_REFRESH_EXPIRY_TIME=86400 #1day
JWT_REFRESH_IGNORE_EXPIRATION=false

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_HOST=localhost
DB_PORT=3306
DB_NAME=microservice_user_app
DB_USER=root
DB_PASSWORD=microservice
DB_LOGGING=false

DB_URL="mysql://root:microservice@localhost:3306/microservice_user_app?schema=public"

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

COOKIE_SECRET=jwt_secret_key
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=strict
COOKIE_NAME=mitvana_auth
COOKIE_EXPIRES_IN=86400 #1day