APP_PORT=3000
APP_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379

JWT_SECRET_KEY=jwt_secret_key
JWT_EXPIRY_TIME='60s'
JWT_REFRESH_SECRET_KEY=jwt_refresh_secret_key
JWT_REFRESH_EXPIRY_TIME='1d'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_HOST=localhost
DB_PORT=3306
DB_NAME=microservice_user_app
DB_USER=root
DB_PASSWORD=microservice

DB_URL="mysql://root:microservice@localhost:3306/microservice_user_app?schema=public"

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=